<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />     
</head>
<body>
    <header>
        <div class="container">
            <nav class="nav">
                <ul class="nav nav-list-mobile">
                    <li class="nav-item">
                        <div class="mobile-menu">
                            <span class="line line-top"></span>
                            <span class="line line-bottom"></span>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-logo"></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-profile"></a>
                    </li>
                </ul>
                <!-- ./nav-list nav-list-mobile -->
                <ul class="nav-list nav-list-larger">
                    <li class="nav-item nav-item-hidden">
                        <a href="{{ url_for('index') }}" class="nav-link nav-link-logo"></a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('recipes') }}" class="nav-link">Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ url_for('ingredients') }}" class="nav-link">Ingredients</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link nav-link-search"></a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Profile</a>
                        <ul class="nav-link-sub">
                            <li><a href="{{ url_for('favorites')}}">My Recipes</a></li>
                            <li><a href="#">Shopping List</a></li>
                            <li><a href="{{ url_for('settings') }}">Settings</a></li>
                            <li><a href="{{ url_for('login') }}">Log In / Sign Up</a></li>
                            <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <!-- /.nav-list nav-list-larger -->
              </nav>
          </div>
      </header>
    <h1>Recipes</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Ingredients</th>
                <th>URL</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe[0] }}</td>
                <td>{{ recipe[1] }}</td>
                <td><a href="{{ recipe[2] }}">{{ recipe[2] }}</a></td>
                <td>
                    <form action="{{ url_for('recipes') }}" method="POST">
                        <input type="hidden" name="recipe" value="{{ recipe[0] }}">
                        <input type="hidden" name="ingredients" value="{{ recipe[1] }}">
                        <input type="hidden" name="url" value="{{ recipe[2] }}">
                        <button type="submit">Add to Favorites</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
<style>
    h1 {
        padding-top: 4.7rem;
    }
</style>
</html>
