<!DOCTYPE html>
<html>
<head>
    <title>Recipes</title>
</head>
<body>
    <h1>Recipes</h1>
    <table>
        <thead>
            <tr>
                <th>Recipe</th>
                <th>Ingredients</th>
                <th>URL</th>
            </tr>
        </thead>
        <tbody>
            {% for recipe in recipes %}
            <tr>
                <td>{{ recipe[0] }}</td>
                <td>{{ recipe[1] }}</td>
                <td>{{ recipe[2] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
